body {
  padding-top: 40px;
  background: #240b36;
  color: #FAFAFA;
  font-family: 'Source Sans Pro', sans-serif;
 }

.content {
  margin: auto;
  height: 100%;
  padding: 30px;
  max-width: 600px;
}

button {
  font-size: 20px;
  border-color: white;
  background-color: #2c0d42;
  color: #FAFAFA;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 15px;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  font-family: 'Source Code Pro', monospace;
}

label {
  text-align: center;
  font-size: 18px;
  padding-bottom: 20px;
}

form {
  text-align: center;
  display: block;
}

.city-state {
  text-align: center;
}

.box {
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

/* 
Input Label Alignment
Breakpoints
Desktop boxes
Box outlines
Proper padding
Make location and back button next to each other
 */

 nav {
   display: block;
 }

 @media only screen and (max-width: 480px) {
  label {
     display: block;
   }
   .zipcode {
    display: block;
    margin: 0 auto;
  }
  .start-page{
    display:block;
  }
 }

 @media only screen and (min-width: 680px) {
   .box {
     width: 50%;
     float: left;
     height: 180px;
   }
 }